# SystemD descriptor file for Talend Command-Line service

[Unit]
Description=Talend Command Line service
Before=runlevel3.target runlevel5.target
After=local-fs.target remote-fs.target network-online.target time-sync.target postgresql.target systemd-journald-dev-log.socket
Wants=network-online.target
Conflicts=shutdown.target

[Service]
Type=forking
Restart=no
KillMode=process
Restart=no
Environment=JAVA_HOME=/usr/java/default/jre
ExecStart={{ talend_root }}/cmdline/start_cmdline.sh
ExecStop={{ talend_root }}/cmdline/stop_cmdline.sh
User={{ talend_user }}
Group={{ talend_group }}
WorkingDirectory={{ talend_root }}/cmdline
SuccessExitStatus=143 SIGKILL

[Install]
WantedBy=multi-user.target
