#!/bin/sh
currUser=`id -un`
if [ "$currUser" != "root" ]; then
  # Check additionally that current user is owner of /opt/talend/jobserver
  fileOwner=`ls -ld {{ talend_root }}/jobserver | awk ' { print $3 } '`
  if [ "$currUser" != "$fileOwner" ]; then
    echo "ERROR: current user is $currUser, but jobserver base folder is owned by $fileOwner"
    echo "Jobserver cannot work under such condition."
    echo "Please change user to $fileOwner with 'su' or 'sudo' and then re-run this script."
    exit 0
  fi
fi

cd "{{ talend_root }}/jobserver/agent"
./stop_rs.sh > /dev/null 2>&1 < /dev/null
# kill not very nicely!
# PIDS=`ps aux | grep java | grep jobserver | grep '/opt/talend/jobserver' | awk '{print $2}'`
# kill -9 $PIDS > /dev/null 2>&1 < /dev/null
