#!/bin/sh
cd "{{ talend_root }}/cmdline/studio"
JAVA_CMD=java
if [ -x $JAVA_HOME/bin/java ]; then
  JAVA_CMD=$JAVA_HOME/bin/java
fi
$JAVA_CMD -Xms64m -Xmx1024m -Dfile.encoding=utf-8 -jar plugins/org.eclipse.equinox.launcher_1.3.0.v20140415-2008.jar --disableShellInput -nosplash -application org.talend.commandline.CommandLine -consoleLog -data {{ talend_root }}/ci-builder/commandline-workspace startServer -p 8002 > /dev/null 2>&1 < /dev/null & 
