{
	"data": {
		"name": "{{ item.repo }}",
		"description": "{{ item.repo }}",
		"type": "target",
		"repositoryTargetId": "any",
		"repositoryId": "{{ item.repo }}",
		"repositoryGroupId": "",
		"method": ["create",
		"read",
		"update",
		"delete"]
	}
}